@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);


.profile_card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  justify-items: center;
  
}


.profile_card {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: hsl(0, 2%, 10%);
}
.profile_card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.profile_card img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.profile_card figcaption {
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  padding: 25px;
  position: relative;
}
.profile_card figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent hsl(0, 0%, 10%);;
}
.profile_card figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.profile_card figcaption a:hover {
  opacity: 1;
}
.profile_card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 80px;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.profile_card .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.profile_card h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.profile_card h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.profile_card p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
