/* Styles for the homepage */
#home{
    

    .hero-section{
        height: 300px;
       
        background-color: hsla(0, 0%, 100%, 0.621);
 display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(6,auto) repeat(2,1fr);
    grid-template-rows:repeat(5,0.3fr);
    gap: 4px;

*{
    /* border: solid 1px rgb(222, 216, 216); */
}

}
    
.div1 {
    display: inline-block;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    img{
       width: clamp(90px, 10vw + 40px, 160px);
  height: auto; /* maintain aspect ratio */
  object-fit: contain;
        
    }
}

.div2 {
    grid-column: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 1;
    padding-bottom: 0%;
    
    
}
.div2 h1{
    color: var(--card-color);  
   font-size: clamp(2rem, 4vw + 1rem, 4rem);
  font-weight: 700;
     border-bottom: 3px solid black; 
     text-transform: uppercase;
     margin-bottom: 0%;
     line-height: normal;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
    padding-top: 0%;
    p{
      font-size: clamp(0.3rem, 1.2vw + 0.5rem, 1.5rem);
  font-weight: 600;
        color: var(--text-normal);
        line-height: normal;
        align-content: center;
        align-items: baseline;
        
    }
}

.div4 {
    grid-column: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: clamp(0.5rem, 0.7vw + 0.5rem, 1.3rem);
    margin-top: 10px;
    line-height: normal;

    p{
        color: var(--card-color);
        font-weight: 600;
        
    }
}

.div5 {
    grid-column: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 4;
    font-size: clamp(0.4rem, 0.7vw, 1rem);
    font-weight: 500;
}

.div6 {
    grid-column: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 5;
    font-size: clamp(0.4rem, 0.7vw, 1rem);
    font-weight: 500;
}
        

}






