#outreach{

align-items: center;

/* Minimal Outreach Gallery Styles */
.outreach-gallery {
    columns: 300px;
    gap: 1rem;
   
}

.outreach-gallery img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px #ddd;
    
}



/* Slider Styles for Outreach Section - timed slider */ 

.slider-section{
    display: none;
}

.gallery-container {
    

    display: grid;
    place-items: center;
    max-width: 700px;
    margin: 2rem auto;
}

.gallery-active-container {
    width: 100%;
    height: 300px;
}

.gallery-active{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-thumbs{
    margin-top: 4px;
    display: flex;
    overflow: hidden;

}
.thumbnail{
    display: block;
    flex: 1 0 15%;
    margin: 0 2px;
    
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
}
.thumbnail.active{
    opacity: 1;
    border: 2px solid #333;
}
.thumbnail:first-of-type{
    margin-left: 0;
}
.thumbnail:last-of-type{
    margin-right: 0;
}
.thumbnail-image{
    width: 100%;
    height: 100%;
    min-height: 75px;
    object-fit: cover;
    cursor: pointer;
}

















}