#outreach{



/* Minimal Outreach Gallery Styles */
.outreach-gallery {
    columns: 300px;
    gap: 1rem;
   
}

.outreach-gallery img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px #ddd;
    
}



/* Slider Styles for Outreach Section - timed slider */ 


.slider-section {
    display: grid;
    place-items: center ;
   
    
   
}
 
.slider-outreach {
    width: 800px;  
    border: solid 1px #ddd;
    
}

img{
    width: 100%;}

.image-slide{
    height: 375px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.thumb{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
   
}
.thumb img{
   
    height: 100px;
        cursor: pointer;
        object-fit: cover;
}


}