.research-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}
.research-area {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    img {
      filter: grayscale(20);
    }
  }
}
.research-area-link{
  display: grid;
  
}


.research-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.research-area h3 {
  font-size: 1.2rem;
  padding: 1rem;
  z-index: 20;

  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  margin: 0;
}
.research-area h3 span {
  background-color: hsl(0, 0%, 100%);
  color: black;
  padding: 0.2em 0.4em;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

#research-overview .card {
  .card-title {
    text-align: center;
  }
  span {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  ul {
    cursor: pointer;
    background-color: rgb(209, 211, 211);
    padding: 8px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
    transition: background-color 0.3s;
    &:hover {
      background-color: hsl(0, 0%, 100%);
    }
  }
}
