
/* TOC Content Container */
.toc-content {
  min-width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 50%;
  left: 0%;
}

/* TOC List Styling - Remove bullets and formatting */
.toc-content ul,
.toc-content ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Clean up nested lists */
.toc-content li {
  margin: 0;
  padding: 0;
}

/* TOC Link Base Colors */
.toc-content a {
  color: #7f7f7f;
}

.dark .toc-content a {
  color: rgb(199 199 199);
}

/* TOC Link Hover and Active States */
.toc-content a:hover {
  color: rgb(59 130 246);
}

.dark .toc-content a:hover {
  color: rgb(96 165 250);
}

.toc-link.active {
  font-weight: 700;
  color: rgb(59 130 246);
}

.dark .toc-link.active {
  color: rgb(96 165 250);
}
