{{ define "main" }}
<div class="container" id="key-area">
  <section class="hero-section">
    <div class="page-header">
      <h2><span>{{.Title}}</span></h2>
      <div class="cover">
        {{ with .Params.cover_image }}
                {{ with resources.Get . }}
                       {{ $resizedImage := .Process "resize 800x q85" }}
                    <img
                        src="{{ $resizedImage.RelPermalink }}"                        
                        alt="Cover image for {{ $.Title }}"
                        >

                {{ else }}
                    <p>Warning: Image '{{ . }}' not found.</p>
                {{ end }}
           {{ end }}
        </div>
        
    </div>
  </section>
</div>
      
        
          
{{end}}        