{{ define "main" }}
<div class="container">
    <section class="hero-section">
        <h2>WE PUBLISH IN TOPMOST JOURNALS</h2>
        <div class="magazine-gallery">
            {{ range .Site.Data.magazines }}
            <img src="{{ $.Site.BaseURL }}images/magazines/{{ . }}" alt="Magazine Cover">
            {{ end }}
        </div>
    </section>

    <section class="papers-list-section">
        <div class="papers-list">
            {{ range .Site.Data.papers }}
            <div class="paper-item">
                <p class="paper-content">{{ .paper }}</p>
            </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}
