


{{ $role := .Get "role" }}
{{ $all_people := .Site.Data.strapi_people_with_images.data }}
{{ $people_to_display := $all_people }}

{{ if $role }}
    {{ $people_to_display = where $all_people "role" $role }}
{{ end }}


<div class="profile_card-grid">
  
{{ range $index, $person := $people_to_display }}
    {{ $gradients := (slice
        "linear-gradient(120deg, #43CBFF 0%, #9708CC 100%)"
        "linear-gradient(120deg, #F97794 0%, #623AA2 100%)"
        "linear-gradient(120deg, #81FFEF 0%, #F067B4 100%)"
        "linear-gradient(120deg, #F6D242 0%, #FF52E5 100%)"
        "linear-gradient(120deg, #F0FF00 0%, #58CFFB 100%)"
        "linear-gradient(120deg, #EECE13 0%, #B210FF 100%)"
        "linear-gradient(120deg, #52E5E7 0%, #130CB7 100%)"
        "linear-gradient(120deg, #92FFC0 0%, #002661 100%)"
        "linear-gradient(120deg, #EEAD92 0%, #6018DC 100%)"
        "linear-gradient(120deg, #EE9AE5 0%, #5961F9 100%)"
        "linear-gradient(120deg, #FFCF71 0%, #2376DD 100%)"
        "linear-gradient(120deg, #FDD819 0%, #E80505 100%)"
    ) | shuffle }}
    {{ $currentGradient := index $gradients (mod $index (len $gradients)) }}
    {{ if eq $person.name "Jayanarayanan Kuttipurath" }}
    <a href="{{ "people/jayanarayanan-kuttippurath/" | relURL }}">
    {{ end }}
<div class="profile_card" style="--card-gradient: {{ $currentGradient | safeCSS }};">

     {{ if $person.photo }}
            {{ $imageUrl := $person.photo.url }}
            {{ if and $person.photo.formats $person.photo.formats.thumbnail }}
                {{ $imageUrl = $person.photo.formats.thumbnail.url }}
            {{ end }}


    <div class="banner">
        <svg viewBox="0 0 100 100">
            
            <image xlink:href="{{ $imageUrl }}" width="100" height="100" preserveAspectRatio="xMidYMid slice" clip-path="url(#hexagon-clip)"></image>
        </svg>
    </div>
     {{ end }}
     <span><br></span>
     <span><br></span>
     <span><br></span>
     
    <h3 class="name">  {{ $person.name }}  </h3>
    <div class="title">{{$person.role}}</div>
   <!--  <div class="actions">





        <div class="follow-info">
            <h2><a href="#"><span>12</span><small>Followers</small></a></h2>
            <h2><a href="#"><span>1000</span><small>Following</small></a></h2>
        </div>
        <div class="follow-btn">
            <button>Follow</button>
        </div>
    </div> -->
    <div class="desc">  {{ $person.course }}  </div>
</div>
    {{ if eq $person.name "Jayanarayanan Kuttipurath" }}
    </a>
    {{ end }}
{{ end }}


</div>
