<div class="hexagon-grid">
  {{ range .Site.Data.strapi_people_with_images.data }}
    <div class="hexagon">
      <div class="hexagon-inner">
        <div class="hexagon-content">
          {{ if .photo }}
            {{ $imageUrl := .photo.url }}
            {{ if and .photo.formats .photo.formats.thumbnail }}
                {{ $imageUrl = .photo.formats.thumbnail.url }}
            {{ end }}
            <img src="{{ $imageUrl }}" alt="{{ .name }}">
          {{ end }}
          <div class="info-text">
            <h3>{{ .name }}</h3>
            <p>{{ .course }}</p>
            <p>{{ .roll_number }}</p>            
            <p>{{ .email }}</p>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
