<div class="profile_card-grid">
  {{ range .Site.Data.strapi_people_with_images.data }}
  <figure class="profile_card">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
    
      
        
          {{ if .photo }}
            {{ $imageUrl := .photo.url }}
            {{ if and .photo.formats .photo.formats.thumbnail }}
                {{ $imageUrl = .photo.formats.thumbnail.url }}
            {{ end }}
            <figcaption>
            <img src="{{ $imageUrl }}" alt="{{ .name }}" class="profile">
          {{ end }}
         
          <h2>  {{ .name }}  
          <span>  {{ .role }} </span> </h2>
          <p>  {{ .course }} </p>
            
          </figcaption>
      
  </figure>  
  {{ end }}
</div>
